{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Create a listing</h1>
    <hr>
    <form action="{% url 'create' username=user.username %}" method="post" class="form-group">
        {% csrf_token %}
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" id="title" class="form-control">
        <br>
        <label for="category" class="form-label">Category</label>
        <select name="category" id="category" selected="Miscellaneous" class="form-select">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="description" class="form-label">Description</label>
        <textarea name="description" id="description" cols="30" rows="3" class="form-control"></textarea>
        <br>
        <label for="startingBid" class="form-label">Starting Bid</label>
        <input type="number" name="startingBid" id="startingBid" class="form-control">
        <br>
        <label for="image" class="form-label">Image URL</label>
        <input type="text" name="image" id="image" class="form-control">

        <input type="submit" class="btn btn-primary mt-3">
    </form>
{% endblock %}
