{% load static %}

{% url 'category' "home" as url_category %}
{% url 'index' as url_index %}
{% url 'login' as url_login %}
{% url 'register' as url_register %}
{% url 'create' username=user.username as url_create %}
{% url 'watchlist' username=user.username as url_watchlist %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <br><br>
        <div class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
            <div class="nav-item mr-2">
                <img src="{% static 'auctions/AuctionsLogo.png' %}" alt="logo" style="width:50px;height:50px;">
            </div>

            <div class="nav-item">
                <a class="nav-link {% if request.path == url_index %}bg-primary text-white rounded{% endif %}" href="{% url 'index' %}">
                    Active Listings
                </a>
            </div>
            {% if user.is_authenticated %}
                <div class="nav-item">
                    <a class="nav-link {% if request.path == url_create %}bg-primary text-white rounded{% endif %}" href="{% url 'create' username=user.username %}">
                        Create Listing
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link {% if request.path == url_watchlist %}bg-primary text-white rounded{% endif %}" href="{% url 'watchlist' username=user.username %}">
                        Watchlist
                    </a>
                </div>
            {% else %}
                <div class="nav-item">
                    <a class="nav-link {% if request.path == url_create %}bg-primary text-white rounded{% endif %}" href="{% url 'login' %}">
                        Create Listing
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link {% if request.path == url_watchlist %}bg-primary text-white rounded{% endif %}" href="{% url 'login' %}">
                        Watchlist
                    </a>
                </div>
            {% endif %}
            <div class="nav-item">
                <div class="dropdown">
                    <button style="color: white" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </button>
                    <ul class="dropdown-menu">
                        {% for category in categories %}
                        	<li><a class="dropdown-item" href="{% url 'category' category%}">{{ category }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="nav-item navbar-text ml-auto mr-3">
                {% if user.is_authenticated %}
                    Hello, <strong>{{ user.username }}</strong>.
                {% else %}
                    Not signed in
                {% endif %}
            </div>
            {% if user.is_authenticated %}
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">
                        Log Out
                    </a>
                </div>
            {% else %}
                <div class="nav-item">
                    <a class="nav-link {% if request.path == url_login %}bg-primary text-white rounded{% endif %}" href="{% url 'login' %}">
                        Log In
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link {% if request.path == url_register %}bg-primary text-white rounded{% endif %}" href="{% url 'register' %}">
                        Register
                    </a>
                </div>
            {% endif %}
        </div>
        <br>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block body %}
        {% endblock %}
    </body>
</html>
